<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Activation</title>
    <style>
      body {
        font-size: 16px;
      }

      main {
        width: 90%;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <main>
      <h1>Activate Your Account</h1>
      <hr />
      <br />

      <h2>To activate your account, click on the link below.</h2>
      <p>
        <a href="{{url}}">Activate</a>. The link will expire in {{expires}}
        minutes.
      </p>
      <br />
      <p>
        If you didn't sign up on our <a href="{{clientUrl}}">website,</a> please
        ignore this message.
      </p>

      <br />
      <p>Devcent E-Learning</p>
    </main>
  </body>
</html>
