<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Welcome</title>
    <style>
      body {
        font-size: 16px;
      }

      main {
        width: 90%;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <main>
      <h1>Welcome to Devcent E-Learing Platform</h1>
      <hr />
      <br />

      <p>We are happy to see you join us.</p>
      <p>
        Take the next step towards your personal and professional goals with
        Devcent.
      </p>
      <br />
      <p>
        Go to <a href="{{clientUrl}}">devcent</a> to log in to your account.
      </p>
      <p>Thank you</p>
      <br />
      <p>Devcent E-Learning</p>
    </main>
  </body>
</html>
